.product {
    background: #f9f9f9;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
    transition: transform 500ms ease-in-out;
    border-radius: 0.5rem;
  }
  
  .product:hover {
    transform: scale(1.05);
  }
  
  .product img {
    max-width: 100%;
  }
  
  .product-content {
    padding: 30px;
  }
  