.textInput {
    margin-top: 0;
    width: 110%;
    font-size: 30px;
    padding: 10px 10px 10px 10px;
  }

.searchContainer {
  margin-bottom: 30px;
}

.searchContainer h1 {
  margin-bottom: 30px;
}