.navContainer {
    background: #F8F8F8;
    height: 80px;
    display: flex;
    /*justify-content: space-between;*/
    padding: 0.5rem calc((100vw - 1000px) - 2);
    z-index: 10;
    /* 3rd Nav */
    justify-content: flex-start;
}

.navButton img {
    display: flex;
    position: initial;
    top: 0;
    right: 0;
    transform: translate(100%, 75%);
    cursor: pointer;
}

.navButton h1 {
    font-family: 'Gluten', sans-serif;
    font-size: 2rem;
    margin-left: 80px;
    color: #7016b1;
}